header {
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Alinear los elementos al final del header */
    font-size: 24px;
    color: white;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadir sombra */
    position: sticky; /* Hacer que el header sea fijo */
    top: 0; /* Fijar en la parte superior */
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
    position: relative; /* Para posicionar el h1 y la NavBar */
}

h1 {
    margin: 0;
    position: absolute; /* Posicionar el h1 */
    left: 20px; /* Alinear a la izquierda */
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajustar el centrado vertical */
    font-size: 24px;
    color: white;
}

.NavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Centrar los elementos horizontalmente */
    font-size: 24px;
    color: white;
    gap: 20px; /* Añadir espacio entre los elementos */
    width: 100%; /* Asegurar que la barra ocupe todo el ancho */
    position: absolute; /* Posicionar la barra de navegación */
    bottom: 0; /* Fijar en la parte inferior del header */
}

ul {
    list-style: none; /* Eliminar los puntos de la lista */
    display: flex;
    flex-direction: row;
    gap: 20px; /* Añadir espacio entre los elementos */
}

.NavBar li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease; /* Añadir transición para el color */
}
